.label {
	padding: 8px 12px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;

	@media (max-width: $mobile) {
		font-size: 12px;
		padding: 8px;
	}

	&--pink {
		background-color: #f36c75;
	}

	&--blue {
		background-color: #5ca2d5;
	}

	&--yellow {
		background-color: #e8a87c;
	}

	&--green {
		background-color: #407868;
	}
}