.portfolio {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 32px;
	padding: 64px;

	@media (max-width: $mobile) {
		gap: 16px;
		padding: 16px;
	}

	&__item {
		flex: 1 1 0;
		min-width: min(500px, 100%);
		max-width: 750px;
	}
}