<div class="breadcrumbs">
	<div class="breadcrumbs__container">
		<div class="breadcrumbs__inner">
			<a href="" class="breadcrumbs__item"><span>Главная</span></a>
			<a href="" class="breadcrumbs__item"><span>Крошка</span></a>
			<a href="" class="breadcrumbs__item"><span>Еще крошка</span></a>
			<a href="" class="breadcrumbs__item"><span>Офигеть какая длинная крошка, даже не знаю влезет ли она</span></a>
			<a href="" class="breadcrumbs__item"><span>Приехали</span></a>
		</div>
	</div>
</div>