<div class="catalog__nav__group">
	<div class="spoiler">
		<div class="spoiler__toggler">
			<div class="catalog__nav__group__title">
				<span><%- title %></span>
				<div class="spoiler__flipper">
					<div class="catalog__nav__group__flipper"></div>
				</div>
			</div>
		</div>
		<div class="spoiler__content">
			<div class="spoiler__content__inner">
				<div class="catalog__nav__group__content">
					<div class="catalog__nav__group__list">
						<div class="catalog__nav__group__list__item">
							<div class="spoiler">
								<div class="spoiler__toggler">
									<span>Камеры видеонаблюдения</span>
									<div class="spoiler__flipper">
										<div class="catalog__nav__group__flipper"></div>
									</div>
								</div>
								<div class="spoiler__content">
									<div class="spoiler__content__inner">
										<div class="catalog__nav__group__list">
											<a href="" class="catalog__nav__group__list__item">
												<span>Видеорегистраторы</span>
											</a>
											<a href="" class="catalog__nav__group__list__item">
												<span>Видеорегистраторы</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog__nav__group__list__item">
							<span>Камеры видеонаблюдения</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>