<% let groups = ["Видеонаблюдение","Системы контроля и управления доступом","Домофоны и переговорные устройства","Охранно-пожарные системы","Оборудование СКС","Кабельная продукция","Сетевое оборудование","Источники питания","Системы оповещения и трансляции","Монтажные и расходные материалы","Инструменты","Жесткие диски и карты памяти","Умный дом" ] %>
<div class="catalog__nav">
	<% groups.forEach(group => { %>
	<%- include('/catalog__nav__group', {
			title: group
		}) %>
	<%}); %>
</div>