<!-- data-max-age время жизни куки отвечающей за показ уведомления в секундах -->
<div class="cookie-notification" data-max-age="3600">
	<div class="cookie-notification__inner">
		<div class="cookie-notification__text">
			<p>Мы используем файлы cookie.
			</p>
			<p>
				<a href="">Соглашение об использовании</a>
			</p>
		</div>
		<div class="cookie-notification__button" data-button-beautiful>
			<span>Принять</span>
		</div>
		<div class="cookie-notification__selfcloser"> </div>
	</div>
</div>