<!-- Уточни у Насти на каких страницах он должен быть -->
<div class="dock">
	<div class="dock__container">
		<div class="dock__inner">
			<a href="index.html" class="dock__item">
				<div class="icon icon--home"></div>
				<span>Главная</span>
			</a>
			<label for="header__catalog__controller" class="dock__item is-active">
				<div class="icon icon--element-3"></div>
				<span>Каталог</span>
			</label>
			<a href="" class="dock__item">
				<div class="icon icon--shopping-cart"></div>
				<span>Корзина</span>
			</a>
			<a href="" class="dock__item">
				<div class="icon icon--box-2"></div>
				<span>Заказы</span>
			</a>
			<a href="" class="dock__item">
				<div class="icon icon--note-2"></div>
				<span>КП</span>
			</a>
		</div>
	</div>
</div>