<div class="kp__steps">
	<div class="kp__steps__item is-prev">
		<div class="kp__steps__item__decorator">
			<div class="kp__steps__item__decorator__circle"></div>
		</div>
		<div class="kp__steps__item__name">
			<span>Товары</span>
		</div>
		<div class="kp__steps__item__caption">
			<span>Укажите цену для клиента</span>
		</div>
	</div>
	<div class="kp__steps__item is-current">
		<div class="kp__steps__item__decorator">
			<div class="kp__steps__item__decorator__circle"></div>
		</div>
		<div class="kp__steps__item__name">
			<span>Дополнительные услуги</span>
		</div>
		<div class="kp__steps__item__caption">
			<span>Добавьте услуги и цену за них</span>
		</div>
	</div>
	<div class="kp__steps__item is-next">
		<div class="kp__steps__item__decorator">
			<div class="kp__steps__item__decorator__circle"></div>
		</div>
		<div class="kp__steps__item__name">
			<span>Информация о вас и о клиенте</span>
		</div>
		<div class="kp__steps__item__caption">
			<span>Добавьте контакты и логотип</span>
		</div>
	</div>
	<div class="kp__steps__item is-next">
		<div class="kp__steps__item__decorator">
			<div class="kp__steps__item__decorator__circle"></div>
		</div>
		<div class="kp__steps__item__name">
			<span>КП готово</span>
		</div>
		<div class="kp__steps__item__caption">
			<span>Скачайте ваше КП</span>
		</div>
	</div>
</div>