<div class="main-slider__slide">
	<div class="main-slider__slide__container">
		<div class="main-slider__slide__text">Подарок! <br> Карта памяти 64 Gb к камере видеонаблюдения <br> HiWatch Pro PTZ-N2204I-D3/W(B)
		</div>
		<a href="" class="main-slider__slide__button" data-button-beautiful>
			<span>Подробнее</span>
		</a>
		<div class="main-slider__slide__img">
			<img src="/src/assets/static/img/2.webp" alt="">
		</div>
	</div>
</div>