<a href="" class="nav-cards__card">
	<div class="nav-cards__card__title">
		<span><%- title %></span>
	</div>
	<div class="nav-cards__card__caption">
		<span><%- caption %></span>
	</div>
	<div class="nav-cards__card__icon">
		<div class="icon icon--<%- icon %>"></div>
	</div>
</a>