<div class="orders__products">
	<% for( let index = 0; index < (locals.count ??  10); index++ ) { %>
	<div class="orders__products__product">
		<div class="orders__products__product__index"></div>
		<div class="orders__products__product__img">
			<img src="/src/assets/static/img/3.webp" alt="">
		</div>
		<div class="orders__products__product__info">
			<div class="orders__products__product__article">
				<span>311302832</span>
			</div>
			<div class="orders__products__product__name">
				<span>DS-2CD2043G0-I (2.8mm) 4Мп уличная цилиндрическая IP-камера с EXIR-подсветкой до 30м</span>
			</div>
		</div>
		<div class="orders__products__product__count">
			<span>100 шт</span>
		</div>
		<div class="orders__products__product__price">
			<span>500 300 <span class="font--ruble">₽</span></span>
		</div>
	</div>
	<% } %>
</div>