<div class="order__pickup-radios">
	<label class="order__pickup-radios__item">
		<input type="radio" name="boba" id="" class="order__pickup-radios__item__controller">
		<div class="order__pickup-radios__item__visual">
			<div class="order__pickup-radios__item__visual__decorator"></div>
			<div class="order__pickup-radios__item__visual__title">
				<span>Склад по умолчанию</span>
			</div>
			<div class="order__pickup-radios__item__visual__extra">
				<div class="order__pickup-radios__item__info">
					<div class="icon icon--location"></div>
					<span>Москва, ул.Сущёвский Вал дом 5 стр.12, ТК «Савёловский-Мобильный», Магазин П-116</span>
				</div>
				<div class="order__pickup-radios__item__info">
					<div class="icon icon--clock"></div>
					<span>Ежедневно 10:00-21:00</span>
				</div>
				<div class="order__pickup-radios__item__info">
					<div class="icon icon--call"></div>
					<span>+7 (495) 374-84-84 доб. 116</span>
				</div>
			</div>
		</div>
	</label>
	<label class="order__pickup-radios__item">
		<input type="radio" name="boba" id="" class="order__pickup-radios__item__controller">
		<div class="order__pickup-radios__item__visual">
			<div class="order__pickup-radios__item__visual__decorator"></div>
			<div class="order__pickup-radios__item__visual__title">
				<span>Центральный склад</span>
			</div>
			<div class="order__pickup-radios__item__visual__extra">
				<div class="order__pickup-radios__item__info">
					<div class="icon icon--location"></div>
					<span>Москва, ул.Сущёвский Вал дом 5 стр.12, ТК «Савёловский-Мобильный», Магазин П-116</span>
				</div>
				<div class="order__pickup-radios__item__info">
					<div class="icon icon--clock"></div>
					<span>Ежедневно 10:00-21:00</span>
				</div>
				<div class="order__pickup-radios__item__info">
					<div class="icon icon--call"></div>
					<span>+7 (495) 374-84-84 доб. 116</span>
				</div>
			</div>
		</div>
	</label>
</div>
<label class="custom-input">
	<textarea placeholder=" "></textarea>
	<div class="custom-input__label">
		<span>Комментарий </span>
	</div>
</label>