<div class="custom-form">
	<div class="custom-form__group">
		<div class="custom-form__col">
			<div class="custom-form__row">
				<div class="custom-form__cell">
					<label class="custom-input">
						<input type="text" required placeholder=" ">
						<div class="custom-input__label">
							<span>Область </span>
						</div>
					</label>
				</div>
				<div class="custom-form__cell">
					<label class="custom-input">
						<input type="text" required placeholder=" ">
						<div class="custom-input__label">
							<span>Город </span>
						</div>
					</label>
				</div>
			</div>
			<div class="custom-form__row">
				<div class="custom-form__cell">
					<label class="custom-input">
						<input type="text" required placeholder=" ">
						<div class="custom-input__label">
							<span>Улица </span>
						</div>
					</label>
				</div>
				<div class="custom-form__cell">
					<label class="custom-input">
						<input type="text" required placeholder=" ">
						<div class="custom-input__label">
							<span>Дом </span>
						</div>
					</label>
				</div>
			</div>
			<div class="custom-form__row">
				<div class="custom-form__cell">
					<label class="custom-input">
						<input type="text" placeholder=" ">
						<div class="custom-input__label">
							<span>Квартира / офис </span>
						</div>
					</label>
				</div>
				<div class="custom-form__cell"></div>
			</div>
			<div class="custom-form__row">
				<div class="custom-form__cell">
					<label class="custom-input">
						<textarea placeholder=" "></textarea>
						<div class="custom-input__label">
							<span>Комментарий </span>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>