<div class="pagination">
	<!-- <a href="" class="pagination__arrow"></a> -->
	<a href="" class="pagination__page is-active"><span>1</span></a>
	<a href="" class="pagination__page"><span>2</span></a>
	<a href="" class="pagination__page"><span>3</span></a>
	<a href="" class="pagination__page"><span>4</span></a>
	<a href="" class="pagination__page"><span>...</span></a>
	<a href="" class="pagination__arrow"></a>
</div>