<div class="popup popup--small" data-popup="popup__order_invoice">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__title">
			<span>Вы хотите сразу получить счет для оплаты?</span>
		</div>
		<div class="popup__buttongroup">
			<div class="popup__buttongroup__button popup__buttongroup__button--outlined">
				<span>Зарезервировать без счета</span>
			</div>
			<div class="popup__buttongroup__button popup__buttongroup__button--filled" data-button-beautiful>
				<span>Получить счет сразу</span>
			</div>
		</div>
	</div>
</div>