<div class="popup popup--fullscreen" data-popup="popup__orders_list">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__title">
			<span>Заказ №54354453</span>
		</div>
		<%- include('/orders__product') %>
	</div>
</div>