<div class="popup popup--small" data-popup="popup__feedback">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__title">
			<span>Опишите кратко вопрос</span>
		</div>
		<form class="custom-form">
			<div class="custom-form__group">
				<div class="custom-form__col">
					<div class="custom-form__row">
						<div class="custom-form__cell">
							<label class="custom-input">
								<textarea placeholder=" " required></textarea>
								<div class="custom-input__label">
									<span>Вопрос </span>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-form__group">
				<div class="custom-form__col">
					<div class="custom-form__row">
						<div class="custom-form__cell">
							<div class="custom-form__footer">
								<button type="submit" class="custom-form__button" data-popup-selfcloser data-popup-control="open" data-popup-target="popup__feedback_success">
									<span>Отправить вопрос</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>