<div class="popup popup--small" data-popup="popup__catalog_upload">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__title">
			<span>Загрузка спецификации</span>
			<div class="popup__title__sub">
				<span>Загрузите файл с артикулами и/или названиями товаров в формате PDF, Excel или Word.</span>
			</div>
		</div>
		<form class="dropzone dropzone--3">
			<ul class="dropzone__list">
				<li class="dropzone__list__item dropzone__list__item--placeholder">
					<input type="file" class="dropzone__input">
					<span> Загрузить</span>
				</li>
			</ul>
			<button type="submit" class="dropzone__submit" data-button-beautiful>
				<span>Найти товары</span>
			</button>
		</form>
	</div>
</div>