<div class="popup popup--small" data-popup="popup__kp_error">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__success">
			<div class="error-group">
				<%- include('/error') %>
				<%- include('/error') %>
			</div>
			<div class="popup__success__button" data-popup-selfcloser data-button-beautiful>
				<span>ОК</span>
			</div>
		</div>
	</div>
</div>