<div class="popup popup--small" data-popup="popup__add_company_success">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__title">
			<span>Компания добавлена</span>
		</div>
		<div class="popup__success">
			<div class="popup__success__icon"></div>
			<div class="popup__success__button" data-popup-selfcloser data-button-beautiful>
				<span>ОК</span>
			</div>
		</div>
	</div>
</div>