<div class="popup popup--small" data-popup="popup__docs_email">
	<div class="popup__inner" data-popup-inner>
		<div class="popup__selfcloser" data-popup-selfcloser></div>
		<div class="popup__title">
			<span>Вы выбрали период больше 3 месяцев</span>
			<div class="popup__title__sub">Для удобства, такой большой объем документов мы вышлем вам на почту, а не в личный кабинет. </div>
		</div>
		<form class="custom-form">
			<div class="custom-form__group">
				<div class="custom-form__col">
					<div class="custom-form__row">
						<div class="custom-form__cell">
							<label class="custom-input">
								<!-- пустой плейсхолдер обязательно -->
								<input type="email" required placeholder=" ">
								<div class="custom-input__label">
									<span>Email</span>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-form__group">
				<div class="custom-form__col">
					<div class="custom-form__row">
						<div class="custom-form__cell">
							<div class="custom-form__footer">
								<button type="submit" class="custom-form__button">
									<span>ОК</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>