$white: #fff;
$black: #202A30;
$grey-text: #7B7B7B;
$grey-bg: #E1E7EC;
$grey-border: #A9AFB4;
$asphalt: #414B55;
$grey-text-on-darkgrey: #E0F2F2;
$page-bg: #F9FAFA;
$grey-text-on-white: #9C9C9C;
$light-grey: #F5F5F5;
$grey-border1: #E1E1E1;
$light-grey-bg: #EEF0F2;
$red: #FF0101;
$blue: #004797;
$blue2: #003979;
$blue3: #002E61;
$grey-icon: #616B75;