.promo {
	&__container {
		@extend %container;
	}

	&__title {
		margin-bottom: 50px;
		@include d13;

		@media (max-width: $mobile) {
			@include m13;
			margin-bottom: 15px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 70px 30px;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin-top: 65px;

		@media (max-width: $mobile) {
			margin-top: 10px;
		}
	}

	&__card {
		&:hover {
			color: $blue;
			--color: #{$blue};
		}

		@media (max-width: $mobile) {
			padding-bottom: 16px;
		}

		&__img {
			@include absolute-container(481, 338);
			background-color: $grey-bg;
			border-radius: 15px;

			&__img {
				padding: 9% 13%;
			}
		}

		&__text {
			margin-top: 20px;
			@include d-h5;

			@media (max-width: $mobile) {
				margin-top: 15px;
				@include m-h5;
			}
		}

		&__link {
			display: flex;
			align-items: center;
			gap: 5px;
			margin-top: 10px;
			@include d1;

			@media (max-width: $mobile) {
				@include m1;
			}

			&::after {
				content: '';
				--size: 16px;
				@extend .icon, .icon--arrow-right;
			}
		}
	}
}