.spoiler {
	&__content {
		overflow: hidden;
		display: grid;
		grid-template-rows: minmax(0, 0);
		min-height: var(--initial-height, 0);
		transition: var(--transition, min-height var(--transition-duration, 0.3s) ease);

		&.is-active {
			min-height: var(--scroll-height, 9999px);
			grid-template-rows: minmax(var(--scroll-height, 9999px), min-content);
			transition: var(--transition, min-height var(--transition-duration, 0.3s) ease, grid-template-rows 0s var(--transition-duration, 0.3s));
		}
	}

	&__toggler {
		cursor: pointer;
		user-select: none;
	}

	&__flipper {
		transition: all var(--transition-duration, 0.3s) ease;
		display: flex;
	}

	&,
	&__toggler,
	&__content {
		&.is-active {
			.spoiler__flipper {
				transform: scaleY(-1);
			}

			.spoiler__initial {
				display: none;
			}

			.spoiler__final {
				display: block;
			}
		}

		&:not(.is-active) {
			.spoiler__flipper {
				transform: scaleY(1);
			}

			.spoiler__initial {
				display: block;
			}

			.spoiler__final {
				display: none;
			}
		}
	}
}