.text-content,
%text-content {
	--p-magrin: 16px;

	&__title {}

	p {
		margin: var(--p-magrin) 0;
	}

	h2 {
		margin-top: 32px;
	}

	h3 {
		margin-top: 32px;
	}

	h4 {
		margin-top: 32px;
	}

	img {
		margin: var(--p-magrin) 0;
	}

	ul,
	ol {
		margin: var(--p-magrin) 0;
		list-style-position: inside;

		li {
			&:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	:first-child {
		margin-top: 0;
	}

	:last-child {
		margin-bottom: 0;
	}
}