@use "sass:math";
@import "./breakpoint";
@import "./variables";
@import "./container";
@import "./color";
@import "./font";
@import "./mixins";
@import "./tab";
@import "./animate";
@import "./breadcrumbs";
@import "./button";
@import "./custom-checkbox";
@import "./custom-radio";
@import "./footer";
@import "./header";
@import "./kp-add";
@import "./general";
@import "./custom-form";
@import "./spoiler";
@import "./custom-list";
@import "./docs";
@import "./error";
@import "./dock";
@import "./contacts";
@import "./input-switch";
@import "./cookie-notification";
@import "./registration";
@import "./promo";
@import "./detail";
@import "./order";
@import "./log";
@import "./text-page";
@import "./icon";
@import "./default-warehouse";
@import "./bonus";
@import "./my-manager";
@import "./flatpickr";
@import "./orders";
@import "./order-cancelleation";
@import "./pagination";
@import "./commercial-offers";
@import "./quantity";
@import "./not-found";
@import "./lk-contacts";
@import "./my-company";
@import "./catalog";
@import "./lk";
@import "./icons";
@import "./tabs";
@import "./bonus-card";
@import "./splide";
@import "./nav-cards";
@import "./main-slider";
@import "./dropzone";
@import "./input";
@import "./article";
@import "./cart";
@import "./kp";
@import "./simplebar";
@import "./popup";
@import "./order-done";
@import "./file-search";
@import "./text-content";

.biba {
	display: flex;
	flex-direction: column;

	a {
		@extend h2;

		&::after {
			content: attr(href);
		}
	}
}