<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<article class="article">
				<div class="not-found">
					<div class="not-found__container">
						<div class="not-found__inner">
							<div class="not-found__nums">
								<img src="/src/assets/static/img/404.webp" alt="">
							</div>
							<div class="not-found__title">
								<span>Страница не найдена</span>
							</div>
							<div class="not-found__caption">
								<span>Возможно вы ошиблись при наборе адреса, или такой страницы не существует.</span>
							</div>
							<a href="" class="not-found__btn" data-button-beautiful><span>На главную</span></a>
						</div>
					</div>
				</div>
			</article>
		</main>
		<%- include('/footer') %>
	</body>

</html>