<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<div class="container">
				<div class="biba">
					<a href="main.html"></a>
					<a href="cart.html"></a>
					<a href="cart.1.html"></a>
					<a href="catalog-search.html"></a>
					<a href="catalog-search.1.html"></a>
					<a href="contacts.html"></a>
					<a href="contacts.1.html"></a>
					<a href="contacts.2.html"></a>
					<a href="detail.html"></a>
					<a href="catalog.html"></a>
					<a href="file-search.html"></a>
					<a href="kp.html"></a>
					<a href="kp.1.html"></a>
					<a href="kp.2.html"></a>
					<a href="kp.3.html"></a>
					<a href="lk-bonus.html"></a>
					<a href="lk-commercial-offers.html"></a>
					<a href="lk-contacts.html"></a>
					<a href="lk-default-warehouse.html"></a>
					<a href="lk-docs.html"></a>
					<a href="lk-my-company.html"></a>
					<a href="lk-my-manager.html"></a>
					<a href="lk-order-cancellation.html"></a>
					<a href="lk-orders-search.html"></a>
					<a href="lk-orders.html"></a>
					<a href="login.html"></a>
					<a href="login-reset.html"></a>
					<a href="login-reset.1.html"></a>
					<a href="order-done.html"></a>
					<a href="order-done.1.html"></a>
					<a href="order-done.2.html"></a>
					<a href="order-done.3.html"></a>
					<a href="order-done.4.html"></a>
					<a href="order.html"></a>
					<a href="promo.html"></a>
					<a href="registration.html"></a>
					<a href="registration.1.html"></a>
					<a href="text-page.html"></a>
					<a href="404.html"></a>
				</div>
			</div>
		</main>
		<%- include('/footer') %>
	</body>

</html>