<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<%- include('/breadcrumbs') %>
		<main>
			<article class="article">
				<form class="order-done">
					<div class="order-done__container">
						<div class="order-done__title">
							<span>Ваш заказ зарезервирован до 04.04.23 включительно. </span>
						</div>
						<div class="order-done__caption">
							<span>Оплатить заказ можно в разделе <a href="">«Заказы»</a>. </span>
						</div>
					</div>
				</form>
			</article>
		</main>
		<%- include('/footer') %>
	</body>

</html>