<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<%- include('/breadcrumbs') %>
		<main>
			<article class="article">
				<form class="order-done">
					<div class="order-done__container">
						<div class="order-done__title">
							<span>Ваш заказ №6455 успешно сформирован. <br> Скачайте счет и оплатите его. </span>
						</div>
						<div class="order-done__file">
							<span>Счет по заказу №42344.pdf</span>
						</div>
						<div class="order-done__button" data-button-beautiful>
							<span>Скачать</span>
						</div>
					</div>
				</form>
			</article>
		</main>
		<%- include('/footer') %>
	</body>

</html>