<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<main>
			<div class="registration">
				<div class="registration__container">
					<div class="registration__inner">
						<a href="index.html" class="registration__back">
							<span>Назад</span>
						</a>
						<div class="registration__title">
							<span>Регистрация для b2b клиентов</span>
						</div>
						<div class="registration__form">
							<form class="custom-form">
								<div class="custom-form__group">
									<div class="custom-form__col">
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<select name="" id="" required>
														<!-- у опции-плейсхолдера пустой value -->
														<option value="" disabled hidden selected>Укажите тип</option>
														<option value="biba">biba</option>
														<option value="boba">boba</option>
													</select>
													<div class="cz-wrap-error">
														<span>Какой-то текст какой-то ошибки</span>
													</div>
													<div class="custom-input__label">
														<span>Тип организации </span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>Название организации</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>Юридический адрес</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="cz-wrap-error">
														<span>Какой-то текст какой-то ошибки</span>
													</div>
													<div class="custom-input__label">
														<span>Почтовый адрес</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="cz-wrap-error">
														<span>Какой-то текст какой-то ошибки</span>
													</div>
													<div class="custom-input__label">
														<span>ИНН</span>
													</div>
												</label>
											</div>
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>КПП</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>Расчетный счет</span>
													</div>
												</label>
											</div>
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>Наименование банка</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>БИК</span>
													</div>
												</label>
											</div>
											<!-- пустая ячейка затычка потому что надо чтоб предыдущая была в половину -->
											<div class="custom-form__cell"></div>
										</div>
									</div>
								</div>
								<div class="custom-form__group">
									<div class="custom-form__col">
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="custom-form__title">
													<span>Карточка организации (необязательно)</span>
												</div>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="dropzone dropzone--1">
													<ul class="dropzone__list">
														<li class="dropzone__list__item dropzone__list__item--placeholder">
															<input type="file" class="dropzone__input">
															<span> Прикрепить</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="custom-form__group">
									<div class="custom-form__col">
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="custom-form__title">
													<span>Администратор (контактное лицо)</span>
												</div>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="dropzone dropzone--2">
													<ul class="dropzone__list">
														<li class="dropzone__list__item dropzone__list__item--placeholder">
															<input type="file" class="dropzone__input" required>
															<span> Добавить <br> фото</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>Логин</span>
													</div>
												</label>
											</div>
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="tel" required placeholder=" ">
													<div class="custom-input__label">
														<span>Телефон</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="email" required placeholder=" ">
													<div class="custom-input__label">
														<span>Email</span>
													</div>
												</label>
											</div>
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>ФИО</span>
													</div>
												</label>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<label class="custom-input">
													<!-- пустой плейсхолдер обязательно -->
													<input type="text" required placeholder=" ">
													<div class="custom-input__label">
														<span>Должность</span>
													</div>
												</label>
											</div>
											<div class="custom-form__cell"></div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="custom-checkbox">
													<input type="checkbox">
													<span>Я согласен на обработку <a href="">персональных данных</a> </span>
													<div class="cz-wrap-error">
														<span>Какой-то текст какой-то ошибки</span>
													</div>
												</div>
											</div>
										</div>
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="custom-checkbox">
													<input type="checkbox">
													<span>Я согласен <a href="">получать рассылку с новостями и акциями</a> компании</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="custom-form__group">
									<div class="custom-form__col">
										<div class="custom-form__row">
											<div class="custom-form__cell">
												<div class="custom-form__footer">
													<button type="submit" class="custom-form__button">
														<span>Зарегистрироваться</span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script src="/src/assets/script/script.js"></script>
	</body>

</html>