.slider-items .swiper {
	margin: -15px;
	padding: 15px;
}

.slider-items .swiper-slide {
	height: inherit;
}

.slider-items .item {
	height: 100%;
}

.slider-items__prev {
	left: 15px;

	&.swiper-button-disabled {
		visibility: hidden;
	}
}

.slider-items__next {
	right: 15px;

	&.swiper-button-disabled {
		visibility: hidden;
	}
}

.item.item-slide {
	.icon-cashback {
		width: 37px;
		height: 35px;
	}
}

@media (max-width: 1023px) {
	.slider-items {
		margin: 0 -15px 0 0;
	}

	.slider-items__next {
		display: none;
	}

	.slider-items__prev {
		display: none;
	}

	.slider-items .swiper {
		margin: -15px 0 -15px -15px;
		padding: 15px 0 15px 15px;
	}
}