$white: #fff;
$black: #000;
$orange: #F58220;
$orangeHover: #D46229;
$black2: #231F20;
$greyBg: #E3E3E3;
$greyBorder: #C4C4C4;
$darkBorder: #666666;
$lightGreyText: #57585A;
$greyCountur: #D7D7D7;
$darkText: #6B6B6B;
$greyCountur2: #DCDCDC;
$bordo: #93130E;
$yellow: #FECA0A;
$darkOrange: #D46229;
$red: #FF0A00;
$green: #219653;