h1,
.h1 {
	font-family: Roboto;
	font-size: 28px;
	line-height: 32px;
	font-weight: 700;
}

h2,
.h2 {
	font-family: Roboto;
	font-size: 28px;
	line-height: 40px;
	font-weight: 700;
}

h3,
.h3 {
	font-family: Roboto;
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
}

h4,
.h4 {
	font-family: Roboto;
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
}

h5,
.h5 {
	font-family: Roboto;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
}

h6,
.h6 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 23px;
	font-weight: 700;
}

.banner-title {
	font-family: Roboto;
	font-size: 60px;
	line-height: 70px;
	font-weight: 900;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.banner-subtitle {
	font-family: Roboto;
	font-size: 25px;
	line-height: 29px;
	font-weight: 700;
}

.button {
	font-family: Roboto;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
}

.button1 {
	font-size: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.button2 {
	font-family: Roboto;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
}

.button3 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

.subtitle1 {
	font-family: Roboto;
	font-size: 25px;
	line-height: 29px;
	font-weight: 400;
}

.subtitle2 {
	font-family: Roboto;
	font-size: 45px;
	line-height: 53px;
	font-weight: 600;
}

.subtitle3 {
	font-family: Roboto;
	font-size: 25px;
	line-height: 32px;
	font-weight: 600;
}

.subtitle4 {
	font-family: Roboto;
	font-weight: 600;
	font-size: 30px;
	line-height: 35px;
}

.subtitle5 {
	font-family: Roboto;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
}

.subtitle6 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

.subtitle7 {
	font-family: Roboto;
	font-size: 22px;
	line-height: 27px;
	font-weight: 900;
}

.subtitle8 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

.subtitle9 {
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
}

.subtitle10 {
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
}

.subtitle11 {
	font-family: Roboto;
	font-size: 28px;
	line-height: 32px;
	font-weight: 700;
}

.subtitle12 {
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
}

.subtitle13 {
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
}

.subtitle14 {
	font-family: Roboto;
	font-size: 29px;
	line-height: 41px;
	font-weight: 700;
}

.subtitle15 {
	font-family: Roboto;
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
}

.subtitle16 {
	font-family: Roboto;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
}

.subtitle17 {
	font-family: Roboto;
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
}

.subtitle19 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
}

.subtitle20 {
	font-family: Roboto;
	font-size: 40px;
	line-height: 57px;
	font-weight: 700;
}

.subtitle21 {
	font-family: Roboto;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
}

.subtitle22 {
	font-family: Roboto;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.subtitle23 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
}

.subtitle24 {
	font-family: Roboto;
	font-size: 18px;
	line-height: 36px;
	font-weight: 600;
}

.subtitle25 {
	font-family: Roboto;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

.subtitle26 {
	font-family: Roboto;
	font-size: 18px;
	line-height: 36px;
	font-weight: 300;
}

.subtitle27 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

.subtitle28 {
	font-family: Roboto;
	font-size: 60px;
	line-height: 70px;
	font-weight: 500;
	letter-spacing: 0.01em;
}

.subtitle29 {
	font-family: Roboto;
	font-size: 47px;
	line-height: 55px;
	font-weight: 600;
}

.subtitle30 {
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

.subtitle31 {
	font-family: Roboto;
	font-size: 22px;
	line-height: 165%;
	font-weight: 600;
}

.subtitle33 {
	font-family: Roboto;
	font-size: 22px;
	line-height: 28px;
	font-weight: 600;
}

@media (max-width: 1023px) {
	.banner-title {
		font-size: 20px;
		line-height: 23px;
	}

	.banner-subtitle {
		font-size: 12px;
		line-height: 14px;
	}

	h2,
	.h2 {
		font-size: 26px;
		line-height: 37px;
	}

	h3,
	.h3 {
		font-size: 20px;
		line-height: 28px;
	}

	h4,
	.h4 {
		font-size: 18px;
		line-height: 25px;
	}

	h5,
	.h5 {
		font-size: 18px;
		line-height: 25px;
	}

	h5,
	.h5 {
		font-size: 16px;
		line-height: 23px;
	}

	.button {
		font-size: 16px;
		line-height: 19px;
	}

	.button2 {
		font-size: 16px;
		line-height: 19px;
	}

	.subtitle1 {
		font-size: 16px;
		line-height: 20px;
	}

	.subtitle2 {
		font-size: 25px;
		line-height: 32px;
	}

	.subtitle3 {
		font-size: 16px;
		line-height: 21px;
	}

	.subtitle5 {
		font-size: 18px;
		line-height: 21px;
	}

	.subtitle6 {
		font-size: 16px;
		line-height: 19px;
	}

	.subtitle9 {
		font-size: 16px;
		line-height: 19px;
	}

	.subtitle11 {
		font-size: 22px;
		line-height: 26px;
	}

	.subtitle12 {
		font-size: 16px;
		line-height: 18px;
	}

	.subtitle14 {
		font-size: 20px;
		line-height: 28px;
	}

	.subtitle17 {
		font-size: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 600;
		line-height: 141.523%;
	}

	.subtitle21 {
		font-size: 18px;
		line-height: 21px;
	}

	.subtitle40 {
		font-family: Roboto;
		font-size: 11px;
		line-height: 13px;
		font-weight: 400;
	}
}

@media (min-width: 1024px) and (max-width: 1599px) {
	.subtitle2 {
		font-size: 40px;
		line-height: 48px;
	}
}