<label class="header__catalog__drop__categories__item">
	<!-- в атрибуте data-synced-inputs любая строка главное чтобы совпадала с таким же атрибутом в группе внутренних ссылок -->
	<input type="radio" name="header__catalog__drop__categories__item" data-synced-inputs="category-<%- index %>">
	<span><%- title %></span>
</label>